pydantic==2.9.2
pydantic_settings==2.6.0
openai==1.52.2
llmsherpa
result==0.17.0
msgspec
loguru==0.7.2
PyMuPDF
python-docx==1.1.2
pandas
langchain-text-splitters==0.3.0
python-magic==0.4.27
aiofiles
llama-index-embeddings-ollama
llama-index>=0.11.10
llama-index-vector-stores-postgres>=0.2.1
llama-index-llms-ollama
fastapi
uvicorn

psycopg2-binary==2.9.9
psycopg[binary,pool]==3.2.3
structlog