aiofiles
fastapi
langchain-text-splitters==0.3.0
pymilvus[model]
langchain-milvus
langchain-openai
llmsherpa
loguru==0.7.2
msgspec
openai==1.52.2
pandas

psycopg2-binary==2.9.9
psycopg[binary,pool]==3.2.3
pydantic==2.9.2
pydantic_settings==2.6.0
PyMuPDF
python-docx==1.1.2
python-magic==0.4.27
result==0.17.0
structlog
uvicorn
langchain-ollama
tenacity